{%  extends 'base.html' %}
{% block title %}Instructor Home{% endblock %}
{% block content %}

<!-- Manage Course block -->
<div class = block>
        <div class = center>
        <div class = block_str>Manage Courses</div>
       <div class = block_sub>
          <a href="../viewCourse/">
              <button>View Courses</button>
          </a>
      </div>
    </div>
</div>

<!-- Manage Section block -->
<div class = block>
        <div class = center>
        <div class = block_str>Manage Sections</div>
            <div class = block_sub>
          <a href="../viewSections/">
              <button>View Sections</button>
          </a>
      </div>
       <div class = block_sub>
          <a href="../createSection/">
              <button>Create Section</button>
          </a>
      </div>
    </div>
</div>
</body>
</html>
{% endblock %}