<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>Login Page</h1>
<div class="login_box">
    <div class = "center">
<form action="/" method="post">
{% csrf_token %}
    <table>
        <tr><td>name: </td><td><input type="text" name="name" placeholder="Enter Your Password" Required></td></tr>

        <tr><td>password: </td><td><input type="password" name="password" placeholder="Enter Your Password" Required></td></tr>
    </table>
    <input type="submit">


</form>
{{ message }}
        </div>
</div>
</body>
</html>